HELP.md
target/
!**/src/main/resources/wedding-1f158-firebase-adminsdk-k9e65-8a940aeeb4.json
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/java/com/example/wedding/service/FirebaseInitializer.java
!**/src/main/**/target/
!**/src/test/**/target/
.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
