@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Nuosu+SIL&display=swap");
@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url("/Users/chulchong/cs/wedding/src/util/Metropolis-6Y5M1.ttf")
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Unicase&display=swap");
#WeddingPic {
  display: block;
  margin-left: 15px;
  margin-right: 10px;
  width: 98vw;
}
#WeddingPicMobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100%;
}
.centered {
  font-family: "Cormorant Garamond", serif;
  position: relative;
  color: white;
  font-size: 80px;
  width: 100%;
  top: -720px;
  left: 70%;
  transform: translate(-50%, -50%);
}
.centeredMobile {
  font-family: "Cormorant Garamond", serif;
  position: relative;
  height: auto;
  color: white;
  font-size: 8vw;
  font-weight: 700;
  width: 100%;
  top: -510px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.headerNext {
  font-family: "Cormorant Garamond", serif;
}

.weddingwho {
  font-family: "Cormorant Garamond", serif;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 120px;
}

.weddingwhoMobile {
  font-family: "Cormorant Garamond", serif;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  text-align: center;
  margin-top: 10px;
}

.ourname {
  font-size: 80px;
}

.ournameMobile {
  font-size: 40px;
}

.row {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
}

.rowMobile {
  margin-top: 40px;
  display: flex;
}

.columnMobile {
  flex: 50%;
  text-align: center;
}

.hrvertical {
  margin-top: 40px;
  height: 600px;
  width: 10px;
  border: 3px;
  border-style: none double none none;
  position: absolute;
  right: 50%;
}

.hrhorizantal {
  height: 3px !important;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  background-color: #f7f5f2 !important;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  opacity: 1;
  margin: 0;
}

.hrhorizantalMobile {
  height: 3px !important;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  background-color: #f7f5f2 !important;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  opacity: 1;
  margin: 0;
}

.hrverticalMobile {
  margin-top: 0px;
  height: 270px;
  width: 10px;
  border: 3px;
  border-style: none double none none;
  position: absolute;
  right: 50%;
}
