@font-face {
  font-family: "MyFont";
  src: local("MyFont"),
    url("/Users/chulchong/cs/wedding/src/util/Metropolis-6Y5M1.ttf")
      format("truetype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Cormorant+Unicase&display=swap");

.navbutton {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.NavBrand {
  font-family: "MyFont";
  text-align: center !important;
  font-size: 80px !important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  color: black !important;
}
.NavBrandMobile {
  display: inline-block !important;
  font-family: "MyFont";
  font-size: 40px !important;
  color: black !important;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.hr {
  height: 3px !important;
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;
  background-color: #f7f5f2 !important;
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  opacity: 1;
  margin: 4px;
}
.NavbarStyle {
  font-family: "Cormorant Garamond", serif;
  text-align: center !important;
}

#navbar {
  width: 100%;
}
.headerheader {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Cormorant Garamond", serif;
}
.chultake {
  font-family: "Cormorant Garamond", serif;
  float: right;
}
.container {
  margin-left: -5px;
  margin-right: auto;
  width: 100%;
  justify-content: center !important;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.menubtn {
  float: right;
  margin-top: 22px;
  margin-right: 10px;
  font-size: 20px;
}
