@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase&family=Nuosu+SIL&display=swap");
#WeddingPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 20px;
}
#WeddingPicMobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 20px;
}
.NavBrand {
  font-family: "Cormorant Unicase", serif;
  text-align: center !important;
  font-size: 60px !important;
  margin-right: auto;
  margin-left: auto;
  color: black !important;
}
.and {
  font-size: 20px !important;
  margin-right: auto;
  margin-left: auto;
}
.NavbarStyle {
  font-family: "Nuosu SIL", serif;
  text-align: center !important;
}
.navbar-toggle {
  margin: 0 auto !important;
}

#navbar {
  width: 100%;
}

.RSVP {
  text-align: center;
  vertical-align: middle;
  margin-top: 4vh;
  margin-left: 30vw;
  margin-right: 30vw;
}
.radiobutton {
  padding-top: 25px;
}

.Youtubevideo {
  display: block;
  padding: 0px !important;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}

.YoutubevideoMobile {
  display: block;
  padding: 0px !important;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

.video {
  padding-top: 30px;
}

.weddinginfo {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}
.title {
  margin-top: 20px;
}
.time .nameofaddress .address {
  margin-bottom: 20px;
}
.message {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weddinginfoMobile {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
}
.titleMobile {
  margin-top: 20px;
}
.timeMobile .nameofaddressMobile .addressMobile {
  margin-bottom: 10px;
}
.messageMobile {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 17px;
}
